#mySidebar.cs-sidebar{
    z-index:3;
    width:300px;
}

.w3-margin-top-1{margin-top:1px!important}
.w3-margin-top-2{margin-top:2px!important}
.w3-margin-top-3{margin-top:3px!important}
.w3-margin-top-4{margin-top:4px!important}
.w3-margin-top-5{margin-top:5px!important}
.w3-margin-top-6{margin-top:6px!important}
.w3-margin-top-7{margin-top:7px!important}

.w3-margin-bottom-3{margin-bottom:3px!important}
.w3-margin-bottom-10{margin-bottom:10px!important}

.custom-search{width:auto!important; display: inline!important; vertical-align:0!important}

.tables-admin {width: 100%;}
.tables-admin .opc-tbl{text-decoration: none;}


