<%= render :partial=>'shareds/topContainer'%>
<%= render :partial=>'shareds/sidebar'%>
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    
    <div class="w3-row-padding">
        <div class="w3-col">
            <header class="w3-container" style="padding-top:22px">
                <h3><b><i class="fa fa-users"></i>Editar Membro</b></h3>
            </header>
        </div>
    </div>
    
    <div class="w3-container">
        <%= render :partial=> 'form'%>
    </div>
    
    <%= render :partial=>'shareds/footer'%>
</div>